$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-orange: #F48A30;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-black: #000000;

$body-font: "Roboto", sans-serif;
$header-font: "Roboto", sans-serif;

body {
    font-family: $body-font;
    padding: 50px;
    margin: 20px;
    
}

h1, h2, h3 {
    font-family: $header-font;
    font-weight: 5000;
}

header {
    h2 {
        color: $color-pale;
    }
}

header h2 {
    color: $color-pale;
}

.site-footer {
    background-image: linear-gradient($color-orange, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.navbar{ background:#000000;}

.nav-link , .navbar-brand{ color: #F48A30; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #000000; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#F48A30 !important;}